__pycache__/
*.pyc
memory_sauvegarde.json
flappy_kawaii_sauvegarde.json
pacman_kawaii_sauvegarde.json
tetris_kawaii_sauvegarde.json
fruit_ninja_kawaii_sauvegarde.json
snake_kawaii_sauvegarde.json
mario_kart_kawaii_sauvegarde.json
arene_tactique_dofus_sauvegarde.json
